!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    = yield
  #footer
    %p#= "&copy; #{Time.now.strftime('%Y')} #{SiteConfig.author}"
