!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => 'css/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'css/foundation.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'css/normalize.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'css/flipclock.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #logo
      %h1 THE FINAL COUNTDOWN.
    = yield
  .row#footer
    .large-3.columns.large-centered
      %p= "&copy; #{Time.now.strftime('%Y')} #{SiteConfig.author}"
